# Python cache
__pycache__/
*.pyc
*.pyo

# Virtual environments
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Environment variables
.env

# Raw/interim/processed data files
data/raw/*
data/interim/*
data/processed/*
data/external/*

# Keep folder placeholders
!data/raw/.gitkeep
!data/interim/.gitkeep
!data/processed/.gitkeep
!data/external/.gitkeep

# Models
models/*
!models/.gitkeep

# Reports outputs
reports/figures/*
reports/metrics/*
!reports/figures/.gitkeep
!reports/metrics/.gitkeep

# System files
.DS_Store
Thumbs.db